<main class="ml-80 mr-25">
    <div class="container-fluid">
        <div class="page-heading mb-0">Welcome to your HiveZen account!</div>
        <div class="sub-heading">Let’s get you started with your first Workspace</div>
        <div class="sub-heading" style="margin-top: 0px;font-size: 16px;">A workspace is a place where a POC is getting developed. You can easily organize your ideas, teams in one place through workspace</div>
        <form [formGroup]="formGroup" class="form-horizontal">
        <div class="row pt-50">
            <div class="col-sm-5">
                <div class="w-30 pull-left">
                    <div class="txt-lable">Workspace Name</div>
                </div>
                
                <div class="w-70 pull-left">
                <input type="text" formControlName="wsName" class="form-control bg-white" id="wsName" placeholder="Workspace Name"
                [ngClass]="{ 'is-invalid': submitted && f1.wsName.errors }"
                >
                <div *ngIf="submitted && f1.wsName.errors" class="invalid-feedback">
                    <div *ngIf="f1.wsName.errors.required">Workspace Name is required</div>
                  </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="w-30 pull-left">
                    <div class="txt-lable">Description</div>
                </div>
            <div class="w-70 pull-left">
                <textarea type="text" formControlName="wsDesc" class="form-control bg-white" id="description"
                    placeholder="Description"
                    [ngClass]="{ 'is-invalid': submitted && f1.wsDesc.errors }"
                    ></textarea>
                    <div *ngIf="submitted && f1.wsDesc.errors" class="invalid-feedback">
                        <div *ngIf="f1.wsDesc.errors.required">Workspace Description is required</div>
                      </div>
                </div>
                
            </div>
        </div>
        <div class="row mb-5">
          
            <div class="col-sm-12">
              <div class="page-sub-heading section-spacing" style="margin-top: 10px;">POC Development Steps</div>
                <ng-container *ngFor="let workspaceBoardsDataObj of workspaceBoardsData;let i=index">
                <div *ngIf="workspaceBoardsDataObj.name !='Development Documents' && workspaceBoardsDataObj.name !='POC Review' && workspaceBoardsDataObj.name !='Publish POC'  " >
                    <div class="bg-white border-gray mt-10 radius-all-3 p-all-10">
                      <div class="row">                       
                        <div class="col-sm-3">
                          <div><input (blur)="changePhaseEvent($event,workspaceBoardsDataObj)" [disabled]="workspaceBoardsDataObj.disabled==undefined || workspaceBoardsDataObj.disabled==null"  [value]="workspaceBoardsDataObj.name" class="txt-outline w-80" type="text">
                            <img src="assets/images/edit-icon.svg" (click)="renamePhase(workspaceBoardsDataObj)" style="margin-left: 10px;cursor: pointer;" class="edit-icon"></div>
                        </div>
                        <div class="col-sm-7">
                          <div>{{workSpaceBoardPhaseDescription[workspaceBoardsDataObj.code]}}</div>
                        </div>
                        <div  class="col-sm-2" style="text-align: right;">
                          <div (click)="removePhase(workspaceBoardsDataObj,workspaceBoardsDataObj.name,i)" [ngClass]="{ 'disabled': i==0,'btn-secondary': i==0}" style="width: 100px;" class="btn button-save ml-10">Delete</div>
                    
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
                </div>
              </div>
        <!--
        <div class="row pt-4">
            <div class="col-sm-12">
                <ng-container *ngFor="let order of workspaceBoardsFormArray.controls; let i = index">
                <label *ngIf ="i<=4" class="control-label col-sm-3" style="padding-bottom: 20px;" formArrayName="workspaceBoards" >
                    <input class="txt-outline" type="checkbox" [formControlName]="i">
                    {{workspaceBoardsData[i].name}}
                  </label>
                </ng-container>
                </div>
                </div>
          -->
       <div class="row">
            <div class="col-sm-12 ml-30">
                <div (click)="createWorkSpace()" class="btn button-save">Create Workspace</div>
            </div>
        </div>
    </form>
    </div>
   
</main>
<footer>
    <div class="container-fluid">
        <div class="footer">©HiveZen.All rights reserved</div>
    </div>
</footer>