<main class="ml-80 mr-25">
    <div class="container-fluid">
        <div class="page-heading mb-0">Welcome to your HiveZen account!</div>
        <div class="sub-heading">Let’s get you started with your first Workspace</div>
        <form [formGroup]="formGroup" class="form-horizontal">
        <div class="row pt-50">
            <div class="col-sm-5">
                <div class="w-30 pull-left">
                    <div class="txt-lable">Workspace Name</div>
                </div>
                
                <div class="w-70 pull-left">
                <input type="text" formControlName="wsName" class="form-control bg-white" id="wsName" placeholder="Workspace Name"
                [ngClass]="{ 'is-invalid': submitted && f1.wsName.errors }"
                >
                <div *ngIf="submitted && f1.wsName.errors" class="invalid-feedback">
                    <div *ngIf="f1.wsName.errors.required">Workspace Name is required</div>
                  </div>
                </div>
            </div>
        </div>

        <div class="row pt-50">
            
            <div class="col-sm-5">
                <div class="w-30 pull-left">
                    <div class="txt-lable">Description</div>
                </div>
            <div class="w-70 pull-left">
                <textarea type="text" formControlName="wsDesc" class="form-control bg-white" id="description"
                    placeholder="Description"
                    [ngClass]="{ 'is-invalid': submitted && f1.wsDesc.errors }"
                    ></textarea>
                    <div *ngIf="submitted && f1.wsDesc.errors" class="invalid-feedback">
                        <div *ngIf="f1.wsDesc.errors.required">Workspace Description is required</div>
                      </div>
                </div>
                
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-sm-12">
                <ng-container *ngFor="let order of workspaceBoardsFormArray.controls; let i = index">
                <label *ngIf ="i<=4" class="control-label col-sm-3" style="padding-bottom: 20px;" formArrayName="workspaceBoards" >
                    <input class="txt-outline" type="checkbox" [formControlName]="i">
                    {{workspaceBoardsData[i].name}}
                  </label>
                </ng-container>
                </div>
                </div>
       <div class="row">
            <div class="col-sm-12 ml-30">
                <div (click)="save()" class="btn button-save">Create Workspace</div>
            </div>
        </div>
    </form>
    </div>
   
</main>
<footer>
    <div class="container-fluid">
        <div class="footer">©HiveZen.All rights reserved</div>
    </div>
</footer>