
    <div class="modal-body">
        <button type="button" class="close dialog-close" (click)="Close()" data-dismiss="modal" aria-label="Close">
           <img src="assets/images/close-popup.png">
          </button>
          <div class="row">
            <div class="col-sm-12">
                <div class="dialog-left"> 
                        <div class="heading"><span>Forgot Password</span></div>
                        <form autocomplete="off" [formGroup]="form" (ngSubmit)="forgotPassword()" id="Signup">
                        <div class="row mt-30">                        
                            <div class="col-sm-12"><div class="txt-lable">Email<sup>*</sup></div></div>
                            <div class="col-sm-12"><input type="text" class="form-control bg-white" formControlName="email" id="email" placeholder="Enter email"
                                [ngClass]="{ 'is-invalid': submitted && f1.email.errors }">
                                <div *ngIf="submitted && f1.email.errors" class="invalid-feedback">
                                    <div *ngIf="f1.email.errors.required">Email ID is required</div>
                                    <div *ngIf="f1.email.touched">Enter valid Email ID</div>
                                  </div>
                            
                            </div>
                            <div class="col-sm-12 pt-20"><button class="btn button-save w100" >Forgot Password</button></div>
                        </div>
                        </form>   
                </div>
            </div>
            <!--
            <div class="col-sm-5" style="padding: 0px;">
                <div class="dialog-right">
                    <img src="assets/images/signup-1.png" class="mt-50">
                    <div class="mt-50">Join over 1000+ teams that<br>manage their work better</div>
                    <div class="copy-rights">&copy; HiveZen, All rights reserved</div>
                </div>
            </div>
            -->
        </div>
    </div>