<main class="ml-80 mr-25">
  <div class="container-fluid">
    <div class="page-heading">Manage your Subscriptions</div>
    <div class="manage-ur-sub mt-50">
      <div class="row">

        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="ft-16 ft-light-gray pb-10">Plan Details</h2>
            </div>
          </div>
          <div class="plan-box">
            <div class="row">
              <div class="col-sm-9">
                <p class="ft-12 ft-light-gray pb-2">Current Plan</p>
                <h5 class="ft-22 ft-bold ft-color-green">{{planType}}</h5>
              </div>
              <!--
              <div class="col-sm-3 pr-4 border-left">
                <p>Seats</p>
                <h5 class="ft-16 ft-bold pt-2">{{totalLicense}}</h5>
              </div>
              -->
              <div class="col-sm-3 pr-4 bl-1-gray">
                <p>Remaining Days</p>
                <h5 class="ft-22 ft-bold pt-2 color-purple">{{noOfDaysToSubscriptionElapse}}</h5>
              </div>
            </div>
            <div class="row mt-20">
              <div class="col-sm-9">
                <p class="ft-12 ft-light-gray pb-2">You are on the {{planType}} plan with {{totalLicense}} seats. You
                  can buy more seats at
                  any point of time.</p>
              </div>
              <div class="col-sm-3 p-0">
                <button (click)="buyMoreSeats()" class="buy-more-btn m-0 ft-color-green">Buy
                  more<br>seats</button>
              </div>
            </div>
          </div>
          <div class="row mt-22">
            <div class="col-sm-12">
              <h2 class="ft-16 ft-light-gray pb-3">Current Users</h2>
            </div>
          </div>
          <div class="plan-box">
            <div class="row">
              <div class="col-sm-4">
                <p class="ft-22 ft-bold color-purple">{{totalLicense}} <span class="ft-14 ft-light-gray">Total
                    Seats</span></p>
              </div>
              <div class="col-sm-4 border-left">
                <p class="ft-22 ft-bold color-purple">{{unallocatedLicense}} <span
                    class="ft-14 ft-light-gray">Unassigned Seats</span></p>
              </div>
              <div class="col-sm-4 border-left">
                <p class="ft-22 ft-bold color-purple">{{allocatedLicense}} <span class="ft-14 ft-light-gray">Allocated
                    Seats</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="ft-16 ft-light-gray  pb-10">Need help?</h2>
            </div>
          </div>
          <div class="plan-box">
            <div class="row">
              <div class="col-sm-4">
                <img src="assets/images/needhelp.PNG">
              </div>
              <div class="col-sm-8">
                <p class="ft-12 ft-bold"><strong>Questions</strong></p>
                <p class="ft-12 ft-light-gray">For more information about billing and pricing visit our <a
                    href="">Knowledge base</a></p>
              </div>
            </div>
          </div>

          <div class="plan-box mt-28">
            <div class="row">
              <div class="col-sm-12 text-center">
                <p class="ft-18"><strong>Contact Support</strong></p>
                <p class="ft-12 pt-3 pb-3">Our Customer success team will get back to you within record time</p>
                <div class="d-flex justify-content-center">
                  <button class="btn button-blue">Contact Support</button>
                </div>
                <!--<a class="font-red ft-bold">Close my account</a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="estimate-table mb-4">
        <div class="row justify-content-between mr-4 ml-2 mt-5">
          <h2 class="ft-16 ft-light-gray">Manager Users</h2>
          <button class="btn btn-outline mr10px" (click)="inviteMember()">Invite Member</button>
        </div>





        <div class="row mb-5">
          <div class="col-sm-12">
            <div class=" p-all-10">
              <div class="row">
                
                <div class="col-sm-5">
                  <div class="ft-18">Name</div>
                </div>
                <div class="col-sm-4">
                  <div class="ft-18">Email</div>
                </div>
                <div class="col-sm-1">
                  <div class="ft-18">Status</div>
                </div>
                <div class="col-sm-2">
                  <div class="ft-18"></div>
                </div>
              </div>
            </div>
            <div>

              <div *ngFor="let item of membersList">
              <div class="bg-white border-gray mt-10 radius-all-3 p-all-10">
                <div class="row">

                  <div class="col-sm-5">
                  <!--  <div class="pl-8">{{item.userName}}</div>-->
                  <div class="profile-default">{{item.userName.charAt(0).toUpperCase()}}</div>
                      <span class="profile-name">{{item.userName}}</span>
                  </div>

                  <div class="col-sm-4 pt-13">
                    <div class="font-semibold">
                      <!--<img src="assets/images/edit-icon.svg" class="edit-icon">-->{{item.email}}
                    </div>
                  </div>
                 
                  <div class="col-sm-1 pt-13">
                    <div><span class="badge badge-accepted"
                        [ngClass]="{'badge-rejected action_status_rejected': item.statusCode == 'Inactive'}">{{item.statusCode}}</span>
                    </div>
                  </div>
                  <div class="col-sm-2 pt-13" style="text-align: center;">
                    <div style="width: 100px;" *ngIf="item.statusCode != 'Active' && item.userType !='Idea Owner'"
                      (click)="changeTeamStatus(item,'Active')" class="btn button-save ml-10">Active</div>
                    <div style="width: 100px;" *ngIf="item.statusCode == 'Active' && item.userType !='Idea Owner'"
                      (click)="changeTeamStatus(item,'Inactive')" class="btn button-save ml-10">InActive</div>
                    <div style="width: 100px;" *ngIf="item.userType =='Idea Owner'" disabled
                      class="btn btn-secondary ml-10">InActive</div>

                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>


        </div>









      </div>
    </div>
  </div>
</main>


<footer>
  <div class="container-fluid">
    <div class="footer">©HiveZen.All rights reserved</div>
  </div>
</footer>