
<main class="mr-15">
<div class="container-fluid">
<div id="Tab3" class="tabcontent">
    <div class="tab-header">
        <div class="page-heading mt-0">POC Review</div>
    </div>


    <div class="row mb-5">
        <div class="col-sm-12">
          <div class=" p-all-10">
            <div class="row">
                <div class="col-sm-5">
                  <label class="ft-18">Reviewer Name</label>
                </div>
                <div class="col-sm-4">
                  <label class="ft-18">Phase</label>
                </div>
                <div class="col-sm-3">
                  <label class="ft-18">Review Initiated on</label>
                </div>
  
              </div>
            </div>
            <div>
  
                <div class="bg-white border-gray mt-10 radius-all-3 p-all-10" *ngIf ="reviewerList ==null ">
                  <div class="row">
  
                    <div class="col-sm-5">
                      <div class="font-semibold pl-8"></div>
                    </div>
                    <div class="col-sm-4">
                      <div></div>
                    </div>
                    <div class="col-sm-3">
                      <div></div>
                    </div>
                  </div>
                </div>
                <div class="bg-white border-gray mt-10 radius-all-3 p-all-10" *ngFor="let reviewerListDtl of reviewerList">
                    <div class="row">
    
                      <div class="col-sm-5">
                        <div class="font-semibold pl-8">{{reviewerListDtl.userName}}</div>
                      </div>
                      <div class="col-sm-4">
                        <div>{{reviewerListDtl.phaseCode}}</div>
                      </div>
                      <div class="col-sm-3">
                        <div>{{commonService.convertDateTimeFormat(reviewerListDtl.createdDate, 'true')}}</div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
  
  
          </div>
  








        <!--
        <button class="btn btn-outline-purple pull-right mr-5">Initate POC Review Process</button>
        <div class="clear-float"></div>
        -->
    <div class="container section-spacing">
        <div class="row">
            <div class="col-sm-4 align-center">
                <div class="heading-lg">{{totalCount}}</div>
                <div>Total Review Comments</div>
            </div>
            <div class="col-sm-4 align-center">
                <div class="heading-lg">{{openCount}}</div>
                <div>Open Comments</div>
            </div>
            <div class="col-sm-4 align-center">
                <div class="heading-lg">{{closedCount}}</div>
                <div>Closed Comments</div>
            </div>

        </div>
    </div>

    <div class="page-sub-heading section-spacing">Comments Received</div>
    <table id="example" class="table table-custom">
        <thead>
          <tr>
            <th>Edit</th>
            <th>Date</th>
            <th>Phase</th>
            <th>Reviewer</th>
            <th>Comments</th>
            <th>Accept</th>
            <th>Reject</th>
            <th>Assigned to</th>
            <th class="align-center">Status</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngIf ="commentsReceived ==null"><td style="background: #F5F6F8;">&nbsp;</td></tr>
            <tr *ngFor="let commentsReceiveddtl of commentsReceived">
              <td>
                <a *ngIf="commentsReceiveddtl.commentStatus !='Closed' && ( commonService.getRole() =='idea-owner' ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='developer' &&  commentsReceiveddtl.commentStatus =='Allocated' ) ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='developer' &&  commentsReceiveddtl.commentStatus =='In-Progress' )  ||   (commentsReceiveddtl.assignedToUserName !=null && commonService.getRole() =='reviewer' &&  commentsReceiveddtl.commentStatus =='Completed' ) ) "  (click)="editComments(commentsReceiveddtl)" style="cursor: pointer;">
                    <img _ngcontent-oih-c96="" src="assets/images/edit-icon.svg" class="edit-icon">
                </a>
              </td>
              <td>{{commonService.convertDateTimeFormat(commentsReceiveddtl.enteredDate, 'true')}}</td>
              <td>{{commentsReceiveddtl.phaseCode}}</td>
              <td><span class="badge-reviewer"><img src="assets/images/review.png"> {{commentsReceiveddtl.enteredByName}}</span>
              </td>
              
              <td>{{commentsReceiveddtl.reviewComment}}</td>
              <td *ngIf="commonService.getRole() =='idea-owner'"><span class="badge" *ngIf="commentsReceiveddtl.actionStatus !='Pending'"
                  [ngClass]="{'badge-accepted': commentsReceiveddtl.actionStatus == 'Accepted'}">Accepted</span></td>
              <td *ngIf="commonService.getRole() =='idea-owner'"><span class="badge" *ngIf="commentsReceiveddtl.actionStatus !='Pending'" [ngClass]="{'badge-rejected action_status_rejected': commentsReceiveddtl.actionStatus == 'Rejected'}">Reject</span>
              </td>
              <td *ngIf="commonService.getRole() =='idea-owner'">{{commentsReceiveddtl.assignedToUserName}}</td>
              <td class="badge-status"
              [ngClass]="{'comment_status_allocated': commentsReceiveddtl.commentStatus == 'Allocated',
                        'comment_status_inprogres': commentsReceiveddtl.commentStatus == 'In-Progress',
                        'comment_status_completed': commentsReceiveddtl.commentStatus == 'Completed',
                        'comment_status_closed': commentsReceiveddtl.commentStatus == 'Closed',
                        'comment_status_pending': commentsReceiveddtl.commentStatus == 'Pending'}"
              ><span>{{commentsReceiveddtl.commentStatus}}</span></td>
            </tr>
          </tbody>
      </table>

  </div>
</div>

</main>
<footer>
  <div class="container-fluid">
      <div class="footer">©HiveZen.All rights reserved</div>
  </div>
</footer>