div#headingOne{
  background-color: rgb(80, 23, 80);
  border-radius: 6px;
}
div#headingtwo{
  background-color: rgb(80, 23, 80);
  /*
  height: 71px;
  padding: 23px;
  */
  border-radius: 6px;
  
}
div#headingthree{
  background-color: rgb(80, 23, 80);  
  border-radius: 6px;
}
div#headingfour{
  background-color: rgb(80, 23, 80);
  border-radius: 6px;
}
div#headingfive{
  background-color: rgb(80, 23, 80);
  border-radius: 6px;
}
div#headingsix{
  background-color: rgb(80, 23, 80);
  border-radius: 6px;
}
.user_profile{
  text-align: center;
  margin: 5rem 0rem;
}

p {
  font-size: large;
}

.container {
  text-align: justify;
}

.image {
  background-repeat: no-repeat;
  background-size: contain;
}
.videoimg{
  width: 35%;
  height: 20%;

}
.mb-10{
  margin: 1.3rem 0px;
}
.card-body6{
  text-align: right;
  background-color: white;
}
.bg {
  /* The image used */
  background-image: url("../../../assets/images/publish-poc/background.jpg");

  /* Full height */
  height: 100%; 
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.videobg{
  text-align: center;
}
.card-body4{
  text-align: center;
  background-color: #F4F7F9;
}
.card-body5{
  text-align: center;
  background-color: white;
}

.bs-example {
  margin: 20;
}
.txt-gray{
  padding-left: 2px !important;
}

[data-toggle="collapse"]:before {
  display: inline-block;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg);
  transition: all linear 0.25s;
  float: right;
}

[data-toggle="collapse"].collapsed:before {
  transform: rotate(0deg);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
}

.grid-container>div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 50px;
}
.section-spacing {
  margin-top: 50px;
}
.checkbox-inline{
  padding-left: 20px;
}
.width-150 {
  width: 150px;
}